<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<h1>At INDEX</h1>
    {{if .First}}
        User Name: {{.UserName}}<br>
        Password: {{.Password}}<br>
        First Name: {{.First}}<br>
    {{end}}
    
    <h2><a href="/signup">Signup</a></h2>
</body>
</html>